<form [formGroup]="form" class="needs-validation" novalidate>
  <fieldset class="fieldset">
    <legend
      class="legend"
      [ngClass]="{
        'bg-light': !themeService.darkMode(),
        'bg-dark': themeService.darkMode(),
      }"
    >
      Frequenza
    </legend>
    <div class="pt-1 text-center">
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="mese"
          value="M"
          formControlName="frequenza"
        />
        <label class="form-check-label" for="mese">Mensile</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="anno"
          value="Y"
          formControlName="frequenza"
        />
        <label class="form-check-label" for="anno">Annuale</label>
      </div>
    </div>
  </fieldset>
</form>

<div
  [ngClass]="{
    'barre-orizzontali-mensile': mensile(),
    'barre-orizzontali-annuale': annuale(),
  }"
>
  <ngx-charts-bar-horizontal
    [scheme]="'solar'"
    [schemeType]="ScaleType.Linear"
    [results]="barreCarburante"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    xAxisLabel="Importo"
    yAxisLabel="Mese"
    [xAxisTickFormatting]="xAxisTickFormatting"
  >
  </ngx-charts-bar-horizontal>
</div>
