<nav
  class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top"
  aria-label="Barra di navigazione"
>
  <a class="navbar-brand" [routerLink]="(isLoggedIn$ | async) ? '/home' : null">
    <fa-icon icon="house"></fa-icon>
  </a>

  <ng-container *ngIf="isLoggedIn$ | async">
    <button
      class="navbar-toggler"
      type="button"
      aria-expanded="false"
      aria-controls="collapseExample"
      (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown" dropdown>
          <a
            href
            class="nav-link dropdown-toggle"
            dropdownToggle
            (click)="(false)"
          >
            <fa-icon icon="pie-chart" class="menu-padding"></fa-icon>Statistiche
          </a>
          <ul *dropdownMenu class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/statistiche"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                (click)="isCollapsed = true"
              >
                Spese medie
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/statistiche/spese-frequenti"
                routerLinkActive="active"
                (click)="isCollapsed = true"
              >
                Spese frequenti
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/statistiche/spesa"
                routerLinkActive="active"
                (click)="isCollapsed = true"
              >
                Spesa
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/statistiche/carburante"
                routerLinkActive="active"
                (click)="isCollapsed = true"
              >
                Carburante
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/statistiche/bolletta"
                routerLinkActive="active"
                (click)="isCollapsed = true"
              >
                Bollette
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/statistiche/casa"
                routerLinkActive="active"
                (click)="isCollapsed = true"
                >Casa</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link manina" (click)="toggleTheme()">
            <fa-icon [icon]="themeIcon" class="menu-padding"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link manina"
            (click)="isCollapsed = true; logout.emit()"
          >
            <fa-icon icon="sign-out" class="menu-padding"></fa-icon>Logout
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link manina"
            (click)="isCollapsed = true; profile.emit()"
          >
            <fa-icon icon="user-circle" class="menu-padding"></fa-icon>Profilo
            Utente
          </a>
        </li>
      </ul>
    </div>
  </ng-container>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li
      class="breadcrumb-item active"
      *ngFor="let b of breadcrumbs; let i = index"
    >
      <span *ngIf="i != breadcrumbs.length - 1; else elseLink">
        <a
          [routerLink]="[b.url, b.params]"
          routerLinkActive="selezionato"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ b.label }}</a
        >
      </span>
      <ng-template #elseLink>
        <span>{{ b.label }}</span>
      </ng-template>
    </li>
  </ol>
</nav>
