<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top" aria-label="Barra di navigazione">
  <a class="navbar-brand" routerLink="/home">
    <fa-icon icon="house"></fa-icon>
  </a>
  <button class="navbar-toggler" type="button" aria-expanded="false" aria-controls="collapseExample" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/lista" (click)="isCollapsed = true"> <fa-icon icon="list" class="menu-padding"></fa-icon>Lista</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="(false)">
          <fa-icon icon="pie-chart" class="menu-padding"></fa-icon>Statistiche
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/statistiche/spese-frequenti" routerLinkActive="active" (click)="isCollapsed = true">
              Spese frequenti
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/statistiche/spesa" routerLinkActive="active" (click)="isCollapsed = true"> Spesa </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/statistiche/carburante" routerLinkActive="active" (click)="isCollapsed = true">
              Carburante
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/statistiche/bolletta" routerLinkActive="active" (click)="isCollapsed = true">
              Bollette
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="!(isLoggedIn$ | async); else userPage">
      <li class="nav-item">
        <a class="nav-link manina" (click)="openLogin.emit()"> <fa-icon icon="sign-in" class="menu-padding"></fa-icon>Login </a>
      </li>
    </ul>
    <ng-template #userPage>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link manina" (click)="logout.emit()"> <fa-icon icon="sign-out" class="menu-padding"></fa-icon>Logout </a>
        </li>
        <li class="nav-item">
          <a class="nav-link manina" (click)="profile.emit()">
            <fa-icon icon="user-circle" class="menu-padding"></fa-icon>Profilo Utente
          </a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item active" *ngFor="let b of breadcrumbs; let i = index">
      <span *ngIf="i != breadcrumbs.length - 1; else elseLink">
        <a [routerLink]="[b.url, b.params]" routerLinkActive="selezionato" [routerLinkActiveOptions]="{ exact: true }">{{ b.label }}</a>
      </span>
      <ng-template #elseLink>
        <span>{{ b.label }}</span>
      </ng-template>
    </li>
  </ol>
</nav>
