<form [formGroup]="form" (ngSubmit)="salvaAndamento()" class="needs-validation" novalidate>

  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between">

    <div fxFlex="49" fxFlex.xs="100">
      <div class="form-group">
        <label for="giorno" class="control-label">Giorno *</label>
        <div class="input-group">
          <div class="input-group-prepend manina">
            <span class="input-group-text" id="calendar-icon" (click)="dpGiorno.toggle()">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" class="form-control" #dpGiorno="bsDatepicker" [bsConfig]="sharedService.getBsConfig()" readonly [ngClass]="{'is-invalid': form.controls.giorno.invalid && form.controls.giorno.dirty}"
            bsDatepicker formControlName="giorno">
          <div class="input-group-append manina" (click)="clearGiorno()">
            <span class="input-group-text">
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div *ngIf="form.controls.giorno.hasError('required') && form.controls.giorno.dirty" class="invalid-feedback">Il campo giorno è obbligatorio</div>
      </div>
    </div>

    <div fxFlex="49" fxFlex.xs="100">
      <div class="form-group">
        <label for="descrizione" class="control-label">Descrizione *</label>
        <input type="text" class="form-control" id="descrizione" name="descrizione" formControlName="descrizione" [ngClass]="{'is-invalid': form.controls.descrizione.invalid && form.controls.descrizione.dirty}">
        <div *ngIf="form.controls.descrizione.hasError('required') && form.controls.descrizione.dirty" class="invalid-feedback">Il campo descrizione è obbligatorio</div>
      </div>
    </div>

    <div fxFlex="49" fxFlex.xs="100">
      <div class="form-group">
        <label for="costo" class="control-label">Costo *</label>
        <input type="number" step="0.5" class="form-control" id="costo" name="costo" formControlName="costo" [ngClass]="{'is-invalid': form.controls.costo.invalid && form.controls.costo.dirty}">
        <div *ngIf="form.controls.costo.hasError('required') && form.controls.costo.dirty" class="invalid-feedback">Il campo costo è obbligatorio</div>
      </div>
    </div>

    <div fxFlex="49" fxFlex.xs="100">
      <div class="form-group" [ngClass]="{'is-invalid': form.controls.giorno.invalid && form.controls.giorno.dirty}">
        <label for="tipoSpesa" class="control-label">Tipo spesa *</label>
        <ng-select id="tipoSpesa" name="tipoSpesa" [items]="listaTipoSpesa" bindLabel="descrizione" formControlName="tipoSpesa" clearAllText="Elimina"
          [ngClass]="{'ng-select-error': form.controls.tipoSpesa.invalid && form.controls.tipoSpesa.dirty}"></ng-select>
        <div *ngIf="form.controls.tipoSpesa.hasError('required') && form.controls.tipoSpesa.dirty" class="invalid-feedback">Il campo tipo spesa è obbligatorio</div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Salva</button>
    <button type="button" class="btn btn-primary" (click)="annulla.emit()">Annulla</button>
  </div>

</form>