<form [formGroup]="form" (ngSubmit)="login()" class="needs-validation" novalidate>
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
          autocomplete="username"
          [ngClass]="{
            'is-invalid': form.get('email')?.invalid && form.get('email')?.dirty
          }"
        />
        <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.dirty" class="invalid-feedback">
          Il campo email è obbligatorio
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          formControlName="password"
          autocomplete="current-password"
          [ngClass]="{
            'is-invalid': form.get('password')?.invalid && form.get('password')?.dirty
          }"
        />
        <div *ngIf="form.get('password')?.hasError('required') && form.get('password')?.dirty" class="invalid-feedback">
          Il campo password è obbligatorio
        </div>
      </div>
    </div>
  </div>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 pb-3">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>&nbsp;
  </div>
</form>
