<form [formGroup]="form" (ngSubmit)="confirm()" class="needs-validation" novalidate>
  <div fxLayout="row wrap" fxLayoutAlign="space-between">
    <div fxFlex="49" fxFlex.xs="100">
      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
          autocomplete="username"
          [ngClass]="{
            'is-invalid': form.get('email')?.invalid && form.get('email')?.dirty
          }"
        />
        <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.dirty" class="invalid-feedback">
          Il campo email è obbligatorio
        </div>
      </div>
    </div>

    <div fxFlex="49" fxFlex.xs="100">
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          formControlName="password"
          autocomplete="current-password"
          [ngClass]="{
            'is-invalid': form.get('password')?.invalid && form.get('password')?.dirty
          }"
        />
        <div *ngIf="form.get('password')?.hasError('required') && form.get('password')?.dirty" class="invalid-feedback">
          Il campo password è obbligatorio
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="annulla.emit()">Annulla</button>
  </div>
</form>
