$color_white: #FFFFFF;
$color_blu_05: #D1E7FF;
$color_blu_10: #8EBEED;
$color_blu_20: #66A5E3;
$color_blu_30: #428FDB;
$color_blu_40: #428FDB;
$color_blu_50: #0066CC;
$color_blu_60: #0059B3;
$color_blu_70: #004D99;
$color_blu_80: #004080;
$color_blu_90: #003366;
$color_blu_95: #00264D;
$colore_sezione: #133B8D;
$colore_sezione_background: #FAFAFA;
$colore_bordo_input: #BBBBBB;
$colore_input: darken($colore_sezione_background, 5);
$colore_bordo_input_invalid: red;
$colore_input_invalid: lighten($colore_bordo_input_invalid, 45);
$colore_fg_warning: #FF9B00;
$colore_bg_warning: lighten($colore_fg_warning, 40);
$colore_fg_success: #5CB85C;
$colore_bg_success: lighten($colore_fg_success, 40);
$color_grigio_scuro: #1C2024;
$color_grigio_medio: #5A6772;
$color_grigio_chiaro: #F5F5F0;
$colore_domanda_sezione: #CECECE;
$colore_ttable_riga_dispari: #CCCCCC;
$colore_ttable_riga_pari: #F5F5F5;
$menu-bg: #013366;
$menu-bg-hover: lighten($menu-bg, 40);
$menu-bg-select: lighten($menu-bg, 20);
$menu-color: #FEFEFE;
$menu-color-hover: #FFFFFF;
$menu-header-color: #65728A;
$menu-hr-color: #2D3645;
$header-bg: #013366;
$header-fg: #FEFEFE;
$header-fg-hover: #FEFEFE;
$briciole-sepatore: #F1F2F2;
$accordion-bg: $color_blu_10 ;
$accordion-bg-hover: darken($accordion-bg, 20);
$accordion-fg: darken($accordion-bg, 80);
$accordion-fg-hover: #FFFFFF;
$dettaglio-bg: #FFFFFF;
$dettaglio-fg: $color_grigio_scuro;
$filter-color: $color_grigio_medio;
$filter-color-select: $color_grigio_scuro;
$filter-color-select-line: $color_blu_30;
$input-background-disabled: lighten($color_blu_60, 35);
$color-disabled: #9D9D9D;
$color-inevidenza: rgb(236, 232, 148);
$color-grigio-odd: #EFF0F6;
$color-grigio-even: #CACEE2;
$icona-bg-disabled: rgb(185, 186, 189);
$color-news-background: #F4F4F4;
$color-news-icon: #0087c1;
