$color_white: #ffffff;
$color_blu_05: #d1e7ff;
$color_blu_10: #8ebeed;
$color_blu_20: #66a5e3;
$color_blu_30: #428fdb;
$color_blu_40: #428fdb;
$color_blu_50: #0066cc;
$color_blu_60: #0059b3;
$color_blu_70: #004d99;
$color_blu_80: #004080;
$color_blu_90: #003366;
$color_blu_95: #00264d;
$colore_sezione: #133b8d;
$colore_sezione_background: #fafafa;
$colore_bordo_input: #bbbbbb;
$colore_input: darken($colore_sezione_background, 5);
$colore_bordo_input_invalid: red;
$colore_input_invalid: lighten($colore_bordo_input_invalid, 45);
$colore_fg_warning: #ff9b00;
$colore_bg_warning: lighten($colore_fg_warning, 40);
$colore_fg_success: #5cb85c;
$colore_bg_success: lighten($colore_fg_success, 40);
$color_grigio_scuro: #1c2024;
$color_grigio_medio: #5a6772;
$color_grigio_chiaro: #f5f5f0;
$colore_domanda_sezione: #cecece;
$colore_ttable_riga_dispari: #cccccc;
$colore_ttable_riga_pari: #f5f5f5;
$menu-bg: #013366;
$menu-bg-hover: lighten($menu-bg, 40);
$menu-bg-select: lighten($menu-bg, 20);
$menu-color: #fefefe;
$menu-color-hover: #ffffff;
$menu-header-color: #65728a;
$menu-hr-color: #2d3645;
$header-bg: #013366;
$header-fg: #fefefe;
$header-fg-hover: #fefefe;
$briciole-sepatore: #f1f2f2;
$accordion-bg: $color_blu_10;
$accordion-bg-hover: darken($accordion-bg, 20);
$accordion-fg: darken($accordion-bg, 80);
$accordion-fg-hover: #ffffff;
$dettaglio-bg: #ffffff;
$dettaglio-fg: $color_grigio_scuro;
$filter-color: $color_grigio_medio;
$filter-color-select: $color_grigio_scuro;
$filter-color-select-line: $color_blu_30;
$input-background-disabled: lighten($color_blu_60, 35);
$color-disabled: #9d9d9d;
$color-inevidenza: rgb(236, 232, 148);
$color-grigio-odd: #eff0f6;
$color-grigio-even: #cacee2;
$icona-bg-disabled: rgb(185, 186, 189);
$color-news-background: #f4f4f4;
$color-news-icon: #0087c1;
