<gc-header (openLogin)="openLogin()" (logout)="logout()" (profile)="profile()"></gc-header>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<div class="loading-div" *ngIf="loading">
  <div class="loading-icon">
    <i class="fa fa-spinner fa-pulse fa-4x" aria-hidden="true"></i>
  </div>
</div>

<!-- popup login -->
<div
  *ngIf="mostraPopupLogin"
  class="modal fade"
  bsModal
  #loginPage="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false, show: true }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">Login</h4>
      </div>

      <div class="modal-body">
        <gc-login (login)="login($event)" (annulla)="annulla()"></gc-login>
      </div>
    </div>
  </div>
</div>

<!-- popup profilo utente -->
<div
  *ngIf="mostraPopupUserProfile"
  class="modal fade"
  bsModal
  #userProfilePage="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false, show: true }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">Profilo utente</h4>
      </div>

      <div class="modal-body">
        <gc-user-profile (salva)="salva($event)" (annulla)="annulla()"></gc-user-profile>
      </div>
    </div>
  </div>
</div>

<!-- popup aggiorna app -->
<gc-popup-conferma
  #popupAggiorna
  titolo="Aggiornamento app disponibile"
  btnConferma="Aggiorna"
  btnAnnulla="Annulla"
  (conferma)="aggiornaApp()"
  (annulla)="popupAggiorna.chiudiModale()"
></gc-popup-conferma>