<form #form="ngForm">
  <div
    class="d-grid gap-2 pb-3 d-flex flex-wrap flex-sm-nowrap justify-content-center"
  >
    <div class="input-group order-4 order-sm-0">
      <input
        type="text"
        class="form-control"
        id="filtro"
        name="filtro"
        #filtro="ngModel"
        [(ngModel)]="filter"
        (keyup)="applicaFiltro(filtro.value)"
        (paste)="applicaFiltro($event.clipboardData?.getData('Text'))"
        placeholder="Filtro"
      />
      <button
        class="btn btn-outline-primary"
        [ngClass]="{
          'btn-light': !themeService.darkMode(),
          'btn-dark': themeService.darkMode(),
        }"
        type="button"
        (click)="pulisciFiltro()"
      >
        x
      </button>
    </div>
    <button
      type="button"
      class="btn btn-primary order-0 order-sm-1"
      (click)="nuova()"
      tooltip="Nuova voce di spesa"
    >
      <fa-icon icon="plus"></fa-icon>
    </button>
    <button
      type="button"
      class="btn btn-primary order-1 order-sm-2"
      (click)="spesa()"
      tooltip="Spesa"
    >
      <fa-icon icon="shopping-cart"></fa-icon>
    </button>
    <button
      type="button"
      class="btn btn-primary order-2 order-sm-3"
      (click)="carburante()"
      tooltip="Carburante"
    >
      <fa-icon icon="car"></fa-icon>
    </button>
    <button
      type="button"
      class="btn btn-primary order-3 order-sm-4"
      (click)="pulizie()"
      tooltip="Pulizie"
    >
      <fa-icon icon="shower"></fa-icon>
    </button>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-hover" aria-label="andamento">
    <thead
      [ngClass]="{
        'table-light': !themeService.darkMode(),
        'table-dark': themeService.darkMode(),
      }"
    >
      <tr>
        <th id="giorno">
          <div class="d-flex flex-wrap">
            <div class="pe-1">Giorno</div>
            <div>
              <fa-icon
                [icon]="sortedByGiornoAsc ? 'circle-chevron-up' : 'chevron-up'"
                (click)="sortByGiornoAsc()"
                role="button"
                aria-label="Ordina per giorno crescente"
                class="pe-1"
              />
              <fa-icon
                [icon]="
                  sortedByGiornoDesc ? 'circle-chevron-down' : 'chevron-down'
                "
                (click)="sortByGiornoDesc()"
                role="button"
                aria-label="Ordina per giorno decrescente"
              />
            </div>
          </div>
        </th>
        <th id="descrizione">
          <div class="d-flex flex-wrap">
            <div class="pe-1">Descrizione</div>
            <div>
              <fa-icon
                [icon]="
                  sortedByDescrizioneAsc ? 'circle-chevron-up' : 'chevron-up'
                "
                (click)="sortByDescrizioneAsc()"
                role="button"
                aria-label="Ordina per descrizione crescente"
                class="pe-1"
              />
              <fa-icon
                [icon]="
                  sortedByDescrizioneDesc
                    ? 'circle-chevron-down'
                    : 'chevron-down'
                "
                (click)="sortByDescrizioneDesc()"
                role="button"
                aria-label="Ordina per descrizione decrescente"
              />
            </div>
          </div>
        </th>
        <th id="costo" class="pe-4">
          <div class="d-flex flex-wrap justify-content-end">
            <div class="pe-1">Costo</div>
            <div>
              <fa-icon
                [icon]="sortedByCostoAsc ? 'circle-chevron-up' : 'chevron-up'"
                (click)="sortByCostoAsc()"
                role="button"
                aria-label="Ordina per costo crescente"
                class="pe-1"
              />
              <fa-icon
                [icon]="
                  sortedByCostoDesc ? 'circle-chevron-down' : 'chevron-down'
                "
                (click)="sortByCostoDesc()"
                role="button"
                aria-label="Ordina per costo decrescente"
              />
            </div>
          </div>
        </th>
        <th id="tipoSpesa">Tipo spesa</th>
        <th id="azioni">Azioni</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of listaPaginata">
        <td>{{ item.giorno | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.descrizione }}</td>
        <td class="text-end pe-4">{{ item.costo | currency }}</td>
        <td>{{ item.tipoSpesa.descrizione }}</td>
        <td class="text-nowrap">
          <button
            type="button"
            class="btn btn-warning me-2"
            (click)="modifica(item)"
            tooltip="Modifica"
            placement="top"
            [disabled]="!(isLoggedIn$ | async)"
          >
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>
          <button
            type="button"
            class="btn btn-success"
            (click)="clona(item)"
            tooltip="Clona"
            placement="top"
            [disabled]="!(isLoggedIn$ | async)"
          >
            <fa-icon icon="clone"></fa-icon>
          </button>
          <button
            type="button"
            class="btn btn-danger ms-2"
            (click)="apriPopupElimina(item)"
            tooltip="Elimina"
            placement="top"
            [disabled]="!(isLoggedIn$ | async)"
          >
            <fa-icon icon="trash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<pagination
  *ngIf="abilitaPaginazione()"
  class="justify-content-center"
  [totalItems]="size"
  [(ngModel)]="page"
  [itemsPerPage]="pageSize"
  (pageChanged)="pageChange($event)"
  [maxSize]="maxSize"
  [boundaryLinks]="boundaryLinks"
  firstText="&lt;&lt;"
  previousText="&lt;"
  nextText="&gt;"
  lastText="&gt;&gt;"
></pagination>

<!-- popup elimina -->
<gc-popup-conferma
  #popupConfermaElimina
  titolo="Elimina voce di spesa"
  btnConferma="Elimina"
  btnAnnulla="Annulla"
  (conferma)="confermaElimina()"
  (annulla)="popupConfermaElimina.chiudiModale()"
></gc-popup-conferma>

<!-- popup inserimento/modifica voce di menu -->
<div
  *ngIf="mostraPopupModifica"
  class="modal fade"
  bsModal
  #editMenu="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false, show: true }"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">{{ titoloModale }}</h4>
      </div>

      <div class="modal-body">
        <gc-modifica
          [andamento]="andamentoSelected"
          (salva)="salva($event)"
          (annulla)="annulla()"
        ></gc-modifica>
      </div>
    </div>
  </div>
</div>
