/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';

@import 'colors';

// Customizzazione ng2-toasty
#toasty .toast {
  cursor: initial !important;
  opacity: 1 !important;
}

//customizzazione modal
.modal-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: $color_blu_10;
}

.modal-content {
  border-radius: 0.5rem;
}