/* You can add global styles to this file, and also import other style files */
@import '~bootswatch/dist/minty/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/minty/bootswatch';

@import 'styles/loading';

// padding per la navbar bootstrap fixed top
body {
  padding-top: 4rem;
}

// bootstrap
.navbar {
  padding-left: 1rem;
  padding-right: 1rem;
}

// ng-select
.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: $danger;
}
.ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow {
  border-color: $danger transparent transparent;
}
.ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder {
  color: $danger;
}
.ng-select-invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: $danger;
  display: block !important;
}

// altre classi
.breadcrumb {
  padding: 0.25rem 1rem;
}

.fieldset {
  background: transparentize($primary, 0.7);
  margin: 1rem;
  border-radius: 0.5rem;
  padding-top: 0.35em;
  padding-right: 0.625em;
  padding-bottom: 0;
  padding-left: 0.625em;
  border: 1px solid $table-border-color;

  .legend {
    border: 1px solid $table-border-color;
    border-radius: 0.5rem;
    background-color: $white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: inherit;
    margin-bottom: auto;
    font-size: 15px;
  }
}

.radio-label {
  font-weight: 400;
  padding-left: 1rem;
  vertical-align: top;
  display: inline;
}

.manina {
  cursor: pointer;
}

// statistiche
.barre-orizzontali-mensile {
  height: calc((100vh - 210px) * 3);
}

.barre-orizzontali-annuale {
  height: calc(100vh - 210px);
}

.torta {
  height: calc(100vh - 210px);
}

// flottante
@mixin float-mixin() {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: $white;
  background-color: $success;
  box-shadow: 2px 2px 3px $gray-700;
  border-radius: 50px;
  text-align: center;
  z-index: 1;
}

.float {
  @include float-mixin();
}

.float-icon {
  margin-top: 22px;
  font-size: x-large;
  line-height: 2.5em;
}

// customizzazione modal
.modal-content {
  border-radius: 0.5rem;

  .modal-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: $primary !important;
  }

  .modal-title {
    color: $white;
    width: 100%;
    text-align: center;
  }
}

.gray {
  color: $gray-600;
}

.dark-gray {
  color: $gray-900;
}

// home page
.fa-shopping-cart:hover {
  text-shadow: -2px 2px 2px $gray-500;
}

.fa-car:hover {
  text-shadow: -2px 2px 2px $gray-500;
}

.fa-shower:hover {
  text-shadow: -2px 2px 2px $gray-500;
}

.fa-credit-card:hover {
  text-shadow: -2px 2px 2px $gray-500;
}

// workaround https://github.com/valor-software/ngx-bootstrap/issues/6490
.popover {
  position: absolute;
  top: 0;
  left: 0 #{'/* rtl:ignore */'};
}

.popover-arrow {
  position: absolute;
}

.tooltip {
  position: absolute;
}

.tooltip-arrow {
  position: absolute;
}

// bs-datepicker
.theme-green .bs-datepicker-head {
  background-color: $primary;
}

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*='select-']:after,
.theme-green .bs-datepicker-body table td[class*='select-'] span:after {
  background-color: $primary;
}
