<gc-login (login)="login($event)" *ngIf="!(isLoggedIn$ | async); else notLogged"></gc-login>

<ng-template #notLogged>
  <div class="float manina" (click)="nuova()" *ngIf="isLoggedIn$ | async">
    <fa-icon icon="plus" class="float-icon"></fa-icon>
  </div>

  <!-- ICONE -->
  <div class="row" *ngIf="isLoggedIn$ | async; else notLogged">
    <div class="col-sm-6">
      <div class="text-center box dark-gray">
        <fa-icon icon="shopping-cart" size="5x" class="manina" (click)="spesa()"></fa-icon>
        <div>Spesa</div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="text-center box dark-gray">
        <fa-icon icon="car" size="5x" class="manina" (click)="carburante()"></fa-icon>
        <div>Carburante</div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="text-center box dark-gray">
        <fa-icon icon="shower" size="5x" class="manina" (click)="pulizie()"></fa-icon>
        <div>Pulizie</div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="text-center box dark-gray">
        <fa-icon icon="credit-card" size="5x" class="manina" (click)="bolletta()"></fa-icon>
        <div>Bolletta</div>
      </div>
    </div>
  </div>
</ng-template>

<!-- popup inserimento voce di menu -->
<div
  *ngIf="mostraPopup"
  class="modal fade"
  bsModal
  #editMenu="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false, show: true }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">{{ titoloModale }}</h4>
      </div>

      <div class="modal-body">
        <gc-modifica [andamento]="andamento" (salva)="salva($event)" (annulla)="annulla()"></gc-modifica>
      </div>
    </div>
  </div>
</div>
