<!-- ICONE -->
<div fxLayout="row wrap">
  <div fxFlex="25" fxFlex.xs="50">
    <i class="fa fa-shopping-cart manina icona" aria-hidden="true" (click)="spesa()" tooltip="Spesa"></i>
  </div>

  <div fxFlex="25" fxFlex.xs="50">
    <i class="fa fa-car manina icona" aria-hidden="true" (click)="carburante()" tooltip="Carburante"></i>
  </div>

  <div fxFlex="25" fxFlex.xs="50">
    <i class="fa fa-shower manina icona" aria-hidden="true" (click)="pulizie()" tooltip="Pulizie"></i>
  </div>

  <div fxFlex="25" fxFlex.xs="50">
    <i class="fa fa-credit-card manina icona" aria-hidden="true" (click)="bolletta()" tooltip="Bolletta"></i>
  </div>
</div>

<!-- popup inserimento voce di menu -->
<div *ngIf="mostraPopup" class="modal fade" bsModal #editMenu="bs-modal" [config]="{backdrop: 'static', keyboard: false, show: true}"
  tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header titolo">
        <h4 class="modal-title">{{titoloModale}}</h4>
      </div>

      <div class="modal-body">
        <app-modifica [andamento]="andamento" (salva)="salva($event)" (annulla)="annulla()"></app-modifica>
      </div>
    </div>

  </div>
</div>