<div class="float manina" (click)="nuova()" *ngIf="isLoggedIn()">
  <i class="fa fa-plus my-float" aria-hidden="true"></i>
</div>

<!-- ICONE -->
<div fxLayout="row wrap" *ngIf="isLoggedIn(); else notLogged">
  <div fxFlex="25" fxFlex.xs="50">
    <div class="text-center box">
      <div>
        <i class="fa fa-shopping-cart manina icona" aria-hidden="true" (click)="spesa()"></i>
      </div>
      <div>Spesa</div>
    </div>
  </div>

  <div fxFlex="25" fxFlex.xs="50">
    <div class="text-center box">
      <div>
        <i class="fa fa-car manina icona" aria-hidden="true" (click)="carburante()"></i>
      </div>
      <div>Carburante</div>
    </div>
  </div>

  <div fxFlex="25" fxFlex.xs="50">
    <div class="text-center box">
      <div>
        <i class="fa fa-shower manina icona" aria-hidden="true" (click)="pulizie()"></i>
      </div>
      <div>Pulizie</div>
    </div>
  </div>

  <div fxFlex="25" fxFlex.xs="50">
    <div class="text-center box">
      <div>
        <i class="fa fa-credit-card manina icona" aria-hidden="true" (click)="bolletta()"></i>
      </div>
      <div>Bolletta</div>
    </div>
  </div>
</div>

<ng-template #notLogged>
  <div fxLayout="row wrap">
    <div fxFlex="25" fxFlex.xs="50">
      <div class="text-center box grey">
        <div>
          <i class="fa fa-shopping-cart icona" aria-hidden="true"></i>
        </div>
        <div>Spesa</div>
      </div>
    </div>

    <div fxFlex="25" fxFlex.xs="50">
      <div class="text-center box grey">
        <div>
          <i class="fa fa-car icona" aria-hidden="true"></i>
        </div>
        <div>Carburante</div>
      </div>
    </div>

    <div fxFlex="25" fxFlex.xs="50">
      <div class="text-center box grey">
        <div>
          <i class="fa fa-shower icona" aria-hidden="true"></i>
        </div>
        <div>Pulizie</div>
      </div>
    </div>

    <div fxFlex="25" fxFlex.xs="50">
      <div class="text-center box grey">
        <div>
          <i class="fa fa-credit-card icona" aria-hidden="true"></i>
        </div>
        <div>Bolletta</div>
      </div>
    </div>
  </div>
</ng-template>

<!-- popup inserimento voce di menu -->
<div
  *ngIf="mostraPopup"
  class="modal fade"
  bsModal
  #editMenu="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false, show: true }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">{{ titoloModale }}</h4>
      </div>

      <div class="modal-body">
        <app-modifica [andamento]="andamento" (salva)="salva($event)" (annulla)="annulla()"></app-modifica>
      </div>
    </div>
  </div>
</div>
