@import '../../../styles/colors';

@mixin nota($bgColor, $fgColor) {
  border: 1px solid $colore_domanda_sezione;
  border-radius: 0.5rem;
  //background-color: $color_grigio_chiaro;
  margin: 1rem;
  padding: 1rem;
  background: $bgColor;
  .icona {
    color: $fgColor;
  }
  .nota-testo {
    text-align: justify;
  }
}
.nota-info {
  @include nota($color_blu_05, $color_blu_60);
  // border: 1px solid $color_blu_60;
  // color: $color_grigio_scuro;
}
.nota-success {
  @include nota($colore_bg_success, $colore_fg_success);
}
.nota-wait {
  @include nota($color_blu_05, $color_blu_60);
}
.nota-error {
  @include nota($colore_input_invalid, $colore_bordo_input_invalid);
}
.nota-warning {
  @include nota($colore_bg_warning, $colore_fg_warning);
}
