<form [formGroup]="form" (ngSubmit)="confirm()" class="needs-validation" novalidate>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      formControlName="email"
      autocomplete="username"
      [ngClass]="{
        'is-invalid': form.get('email')?.invalid && form.get('email')?.dirty
      }"
    />
    <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.dirty" class="invalid-feedback">
      Il campo email è obbligatorio
    </div>
  </div>

  <div class="mb-3">
    <label for="newPassword" class="form-label">Nuova password</label>
    <input
      type="password"
      class="form-control"
      id="newPassword"
      name="newPassword"
      formControlName="newPassword"
      autocomplete="new-password"
      [ngClass]="{
        'is-invalid': form.get('newPassword')?.invalid && form.get('newPassword')?.dirty
      }"
    />
    <div *ngIf="form.get('newPassword')?.hasError('required') && form.get('newPassword')?.dirty" class="invalid-feedback">
      Il campo Nuova password è obbligatorio
    </div>
  </div>

  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Conferma password</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      name="confirmPassword"
      autocomplete="new-password"
      formControlName="confirmPassword"
      [ngClass]="{
        'is-invalid': form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.dirty
      }"
    />
    <div *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.dirty" class="invalid-feedback">
      Il campo Conferma password è obbligatorio
    </div>
  </div>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 pb-3">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Salva</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="annulla.emit()">Annulla</button>
  </div>
</form>
