<form [formGroup]="form" (ngSubmit)="confirm()" class="needs-validation" novalidate>

  <div fxLayout="row wrap" fxLayoutAlign="space-between">

    <div fxFlex="100">
      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" formControlName="email"
          [ngClass]="{'is-invalid': form.controls.email.invalid && form.controls.email.dirty}">
        <div *ngIf="form.get('email').hasError('required') && form.get('email').dirty" class="invalid-feedback">
          Il campo email è obbligatorio</div>
      </div>
    </div>

    <div fxFlex="100">
      <div class="form-group">
        <label for="newPassword" class="control-label">Nuova password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword"
          [ngClass]="{'is-invalid': form.controls.newPassword.invalid && form.controls.newPassword.dirty}">
        <div *ngIf="form.get('newPassword').hasError('required') && form.get('newPassword').dirty"
          class="invalid-feedback">
          Il campo Nuova password è obbligatorio</div>
      </div>
    </div>

    <div fxFlex="100">
      <div class="form-group">
        <label for="confirmPassword" class="control-label">Conferma password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
          formControlName="confirmPassword"
          [ngClass]="{'is-invalid': form.controls.confirmPassword.invalid && form.controls.confirmPassword.dirty}">
        <div *ngIf="form.get('confirmPassword').hasError('required') && form.get('confirmPassword').dirty"
          class="invalid-feedback">
          Il campo Conferma password è obbligatorio</div>
      </div>
    </div>

  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="annulla.emit()">Annulla</button>
  </div>

</form>